<div class="12 columns">
  <h1 class="subheader">
    Search it
  </h1>
  
  
</div>

<div class="row">
  <input id='searchfield' type="textfield">
</div>

<div class="row">
  <table id='results' class="">
    <thead>
      <th>URLs</th>
    </thead>
    <tbody>
      <% if !@urls.blank? %>
        <% for url in @urls %>
          <tr>
            <td><a href="<%= url.url %>"><%= url.url %></a></td>
          </tr>
        <% end %>
      <% else %>
        
      <% end %>
    </tbody>
  </table>
</div>