
<div class="row">
  <form>
    <input id='searchfield' type="textfield">
  </form>
</div>

<div class="row">
  <table id='results' class="">
    <tbody>
      <% if !@urls.blank? %>
        <% for url in @urls %>
          <tr>
            <td><a href="<%= url.url %>"><%= url.url %></a></td>
          </tr>
        <% end %>
      <% else %>
        
      <% end %>
    </tbody>
  </table>
</div>