<div class="12 columns">
  <h1 class="subheader">
    Search it
  </h1>
  
  
</div>

<div class="row">
  <input id='searchfield' type="textfield">
</div>

<div class="row">
  <table id='results' class="">
    <thead>
      <th>URLs</th>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>